header {
  background-color: #232f3e;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 99999;

  .logo-container {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 50px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid white;
    }
  }

  .logo {
    background-image: url("../../assets/images/amazon-icons.png");
    background-position: -10px -51px;
    width: 97px;
    height: 30px;
    margin: 6px 0 0 1px;
  }

  .cart-container {
    position: relative;
    color: white;
    display: flex;
    text-align: center;
    align-items: flex-end;

    cursor: pointer;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 10px;

    &:hover {
      border: 1px white solid;
      font-weight: bold;
    }

    small {
      padding: 0 10px;
      font-weight: bold;
    }

    .cart-icon {
      background-image: url("../../assets/images/amazon-icons.png");
      width: 38px;
      height: 26px;
      background-position: -10px -340px;
      align-items: center;

      span {
        position: relative;
        top: -10px;
        left: 3px;
        font-weight: bold;
        color: #f08804;
      }
    }

  }
}
